{% extends "pages/page.html" %}

{% load mezzanine_tags i18n %}

{% load SFS_templatetags %}

{% block main %}
	{{ block.super }}
	{% if request.GET.sent %}
	    {% editable page.form.response %}
		    {{ page.form.response|richtext_filters|safe }}
	    {% endeditable %}
	{% else %}
	    {% with page.form as page_form %}
		    {% editable page_form.content %}
			    {{ page_form.content|richtext_filters|safe }}
		    {% endeditable %}
	    {% endwith %}

		<!-- Comment out? -->
	    {# {% errors_for form %} #}
	
		<!-- ------------------------------------- -->
		<!-- Add HTML code here in template! -->
		<!-- - - - - - - - - - - - - - - - - - - - - - -->
		<div id=title1>
		    Solar FS Calculations App
		</div>
		<div class=text1>
		    This application allows an input of a geographic location, a time range, and solar cell panel orientation. 
			The output is the effective radiant flux incident upon the panel.  
		</div>
		<blockquote>
			<blockquote>
		        <div class=text1>
					Input your geographic location, e.g., 555 Sun St., Boulder, CO:
        		</div>
	
			    <form class="mezzanine-form" method="post"{% if form.is_multipart %} action='' enctype="multipart/form-data"{% endif %}>
			        {% fields_for form %}
			        <div class="form-actions">
						{% csrf_token %}
					    {# "pf" is profile-form, the form object. #}
				        <div class="text3">
						    {{ pf.as_p }}
							<br> 
				        </div>
			            <input class="btn btn-primary btn" type="submit"
		                value="{% if page.form.button_text %}{{ page.form.button_text }}{% else %}{% trans "Submit" %}{% endif %}">
			        </div>
			    </form>
				<br>
				<span class=title3>Address slug:</span> {{ address_slug }}
				<br>
				<span class=title3>Formatted address:</span> {{ last_calc.formatted_address }}
				<br>
				<span class=title3>Coordinates (latitude, longitude):</span> {{ last_calc.coordinates }}
				<br>
				<span class=title3>Elevation (meters AMSL):</span> {{ last_calc.elevation }}

				<br><br>
		        <div class=title3>
					{{ time_sequence_begin }}
		        </div>
		          <div class="table">
					<div class="tbl_row">
						<div class="cell_caption">Start:</div>
						<div class="cell_caption">Stop:</div>
						<div class="cell_caption">Frequency:</div>
					</div>
					<div class="tbl_row">
						<div class="cell_caption">{{ last_calc.begin }}</div>
						<div class="cell_caption">{{ last_calc.end }}</div>
						<div class="cell_caption">{{ last_calc.frequency }}</div>
					</div>
	            </div>

		        <div class=title3>
					Solar ephemeris: <br>
		        </div>
		        <div class=text2>
				    {% for chunk in ephem_sequence_lines %}
						{{ chunk }}<br>
				    {% endfor %}
		        </div>

		        <div class=title3>
					Statistics: <br>
		        </div>
		        <div class=text2>
				    {% for chunk in stat_lines %}
						{{ chunk }}<br>
				    {% endfor %}
		        </div>

		        <div class=title3>
					Irradiance: <br>
		        </div>
		        <div class=text2>
				    {% for chunk in irrad_lines %}
						{{ chunk }}<br>
				    {% endfor %}
		        </div>
				<br>
		          <div class="table">
		            <div class="tbl_row">
						<div class="cell_pix">
							<a href='{{ STATIC_URL }}{{ Pix_file_1 }}' target='_blank'>
								<img src='{{ STATIC_URL }}{{ Pix_file_1 }}' border='0' height='74' %}'>
							</a>
						</div>
						<div class="cell_pix">
							<a href='{{ STATIC_URL }}{{ Pix_file_2 }}' target='_blank'>
								<img src='{{ STATIC_URL }}{{ Pix_file_2 }}' border='0' height='74' %}'>
							</a>
						</div>
						<div class="cell_doc">
							<a href='{{ STATIC_URL }}{{ Doc_file }}' target='_blank'>
								{{ Doc_file }}
							</a>
						</div>
		            </div>
					<div class="tbl_row">
						<div class="cell_caption">ephemSequence.png</div>
						<div class="cell_caption">irradianceSequence.png</div>
						<div class="cell_caption">Data document</div>
					</div>
		          </div>

			</blockquote>
		</blockquote>
		<!-- ------------------------------------- -->
		    
	{% endif %}
	
{% endblock %}


{% block extra_js %}
	{{ block.super }}
	<script>
		$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
	</script>
{% endblock %}
