{% extends "neptune/pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}
	<!-- Editable feature doesn't work here. -->
	{# {% editable page.richtextpage.content %} #}
		{# {{ page.richtextpage.content|richtext_filters|safe }} #}
	{# {% endeditable %} #}
	<!-- ----------------------------------- -->

	<div class="row">
	  <div class="col-sm-3"></div>
	  <div class="col-sm-6">
			<h2><center>Place List</center></h2>
		</div>
	</div>
	<br>

  <center>
		<table style="padding-left:12em;" border="0" cellpadding="2" width="70%">
	    <tr>
	      <td class=title3>
	        Place ID (profile link):
	      </td>
	      <td class=title3>
	        JSON profile:
	      </td>
	      <td class=title3>
	        Address Name:
	      </td>
	      <td class=title3>
	        Edit:
	      </td>
	    </tr>
	    {% for place in places %}
	      <tr>
	        <td>
	          <a href={% url 'neptune:place_profile' place.Place_ID %} target=new>
							{{ place.Place_ID }}
						</a><br>
	        </td>
					<!-- JSON link. -->
	        <td>
	          <a href={% url 'neptune:place_profile_json' place.Place_ID %} target=new>
							{{ place.Place_ID }}
						</a><br>
	        </td>
	        <td>
	          <b>{{ place.Address }}</b>
	        </td>
					<!-- Link to edit form. -->
	        <td>
						<a href="{% url 'neptune:update_place' place.pk %}" target="_blank" >
							{{ place.pk }}
						</a>
	        </td>
	      </tr>
	    {% endfor %}
		</table>
	 	<!-- Create new place object. -->
		<a href="{% url 'neptune:create_place' %}" target="_blank" >
			Create a new Place instance
		</a>
  </center>

  <!-- ------------------------------------- -->

{% endblock %}
