{# **** Top banner & logo **** #}
.headerTable {
	background: url("images/bgdPattern.gif") repeat-x;
	width: 94%;
	padding: 1%; 
	//margin: 1%; 
	margin: 1% 3% 2% 3%; 
	border: 0%;
  float: center;
}
.cell_spacer {
  display: table-cell;
  border: none; 
  padding: 10;
  margin-top: 0;
  height: 3.5em;
  width: 100%;
}

/******* New container *******/
.thin_container {
	width: 80%;
	padding: 1%; 
	//margin: 1%; 
	margin: 2% 10% 0% 10%; 
	border: 0%;
}

/* * Index page * */
#title1 {
  margin-top: 0.5em;
  {# margin-left: 1.2em; #}
  margin-left: 0.2em;
  {# margin-right: 2em; #}
  margin-bottom: 1em;
  padding-bottom: 1em;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: maroon;
  font-family: times-new-roman, serif;
}
#title2 {
  margin-left: 1.5em;
  margin-right: 2em;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: maroon;
  font-family: times-new-roman, serif;
}
.title3 {
  margin-left: 2em;
  text-align: left;
  font-weight: bold;
  color: #737CA1; {# slate blue #}
  font-family: times-new-roman, serif;
}
.text1 {
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  font-size: 1.1em;
  font-family: Tahoma;
  color: #2C3539; {# gunmetal #}
}
.text2 {
  font-family: Tahoma;
  color: #222;
  text-align: left;
  font-size: small;
  margin-left: 2.2em;
  margin-right: 2em;
  margin-bottom: 1em;
}
.text3 {
  font-family: Tahoma;
  color: #222;
  text-align: left;
  font-size: 0.5em;
}
p {
  font-family: Tahoma;
  color: #222;
  text-align: left;
  font-size: 12px;
}
/**** Table construct ****/
.table {
  display: table;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em; 
  margin-bottom: 15px; 
  width: 100%;
}
.tbl_row {
  display: table-row;
  margin: 0px;
  padding: 0px;
}
.cell {
  display: table-cell;
  {# border: solid; border-width: thin; #}
  padding-left: 0px; 
  padding-right: 4px;
  text-align: center; 
}
.cell_pix {
  display: table-cell;
  {# border: solid; border-width: thin; #}
  border-collapse: collapse;        
  padding-left: 0px; 
  padding-right: 4px;
  text-align: center; 
}
.cell_doc {
  display: table-cell;
  {# border: solid; border-width: thin; #}
  padding: 2px;
  padding-left: 4px;
  text-align: center; 
  font-size: 8px;
  margin-left: 2px;
  vertical-align: middle;
  color: blue; 
  word-break:break-all;
}
.cell_caption {
  display: table-cell;
  padding-left: 0px; 
  padding-right: 4px;
  text-align: center; 
  font-size: small;
  vertical-align: middle;
  word-break:break-all;
  width: 35%;
}
